.App {
  text-align: center;
}
body {
  font-family: 
  'nanumsquare';
}
.black-nav{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
.list{
  margin-top: 30px;
  text-align: lef t;
  padding-left: 20px;
  padding-right: 20px;
}
.modal{
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}
/* 아래 스타일을 기존 CSS에 추가하세요 */
.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-right: 10px;
}

.comment-stars,
.comment-review {
  margin: 0;
}

.comment-author {
  margin: 0;
}

.comment-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
